<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">

<div class="overview-page">
  <nav class="navbar navbar-expand-lg navbar-light bg-light header-navbar">
    <a class="navbar-brand" href="/overview">EntEver</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav header-navbar-list">
        <li class="nav-item">
          <a class="nav-link" href="/overview">Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/overview">Movie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/overview">Drama</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/overview">TV Channel</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0 header-searchBar">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      <div class="user-button">
        <button class="btn btn-outline-secondary my-2 my-sm-0">Sign In</button>
        <button class="btn btn-outline-primary my-2 my-sm-0">Sign Up</button>
      </div>
    </div>
  </nav>
  <div class="main-content">
    <div class="content-description">
      <img class="bg-image" src="../../assets/images/bg-image_1.jpeg" alt="bg-image_1">
      <div class="right-content">
        <button class="btn btn-primary btn-customized">Go to Forum</button>
        <div class="video-title">Fast & Furious 9</div>
        <button class="video-type">Action</button>
        <div class="video-rate">
          <i class="fa fa-star star-rate-light"></i>
          <span class="rate-score">7.4 / 10</span>
          <span class="total-views">Views: 12K</span>
          <i class="fa fa-star-o star-rate-blank"></i>
          <span class="user-rate">Rate</span>
        </div>
        <div class="video-description">
          <div class="video-description-title">
            <span class="title-bold">S1: E1</span>
            <span class="title-light"> "Vin Diesel's Dom"</span>
            <p>Vin Diesel's Dom Toretto is leading a quiet life off the grid with Letty and his son, little Brian, but they know that danger always lurks just over their peaceful horizon. This time, that threat will force Dom to confront the sins of his past if hes going to save those he loves most. His crew joins together to stop a world-shattering plot led by the most skilled assassin and high-performance driver they've ever encountered: a man who also happens to be Doms forsaken brother, Jakob (John Cena, next year's The Suicide Squad).</p>
          </div>
          <div class="video-episodes">
            <button class="btn btn-danger">1</button>
            <button class="btn btn-primary">2</button>
            <button class="btn btn-primary">3</button>
          </div>
        </div>
      </div>
    </div>
    <div class="videos-episodes-details">
      <span class="videos-episodes-details-title">Episodes</span>
      <select class="episodes-select">
        <option value="season_1" selected>Season 1</option>
        <option value="season_2">Season 2</option>
        <option value="season_3">Season 3</option>
      </select>
    </div>
    <div class="videos-episodes-list">
      <div class="episodes-list">
        <div class="left-list">
          <span class="videos-episodes-list-number">1</span>
          <img class="episodes_image" src="../../assets/images/episodes_1.jpeg" alt="episodes_1">
        </div>
        <div class="right-list">
          <h5>Vin Diesel's Dom</h5>
          <span>Vin Diesel's Dom Toretto is leading a quiet life off the grid with Letty and his son, little Brian, but they know that danger</span>
        </div>
      </div>
      <div class="episodes-list">
        <div class="left-list">
          <span class="videos-episodes-list-number">2</span>
          <img class="episodes_image" src="../../assets/images/episodes_2.jpeg" alt="episodes_2">
        </div>
        <div class="right-list">
          <h5>Dom to confront the sins</h5>
          <span>Vin Diesel's Dom Toretto is leading a quiet life off the grid with Letty and his son, little Brian, but they know that danger</span>
        </div>
      </div>
      <div class="episodes-list">
        <div class="left-list">
          <span class="videos-episodes-list-number">3</span>
          <img class="episodes_image" src="../../assets/images/episodes_3.jpeg" alt="episodes_2">
        </div>
        <div class="right-list">
          <h5>His crew joins</h5>
          <span>Vin Diesel's Dom Toretto is leading a quiet life off the grid with Letty and his son, little Brian, but they know that danger</span>
        </div>
      </div>
    </div>
    <div class="other-popular-stories-title">Other Popular Stories</div>
    <ul class="other-popular-stories">
      <li>
        <img src="../../assets/images/bg-image_1.jpeg" alt="bg-image_1">
        <div class="other-stories-title">
          <span class="video-title">Fast & Furious 9</span>
          <button class="video-type">ACTION</button>
        </div>
      </li>
      <li>
        <img src="../../assets/images/bg-image_2.jpeg" alt="bg-image_2">
        <div class="other-stories-title">
          <span class="video-title">A Quiet Place II</span>
          <button class="video-type">DRAMA</button>
          <button class="video-type">HORROR</button>
        </div>
      </li>
      <li>
        <img src="../../assets//images/bg-image_3.jpeg" alt="bg-image-3">
        <div class="other-stories-title">
          <span class="video-title">Wrath of Man</span>
          <button class="video-type">ACTION</button>
          <button class="video-type">CRIME</button>
        </div>
      </li>
      <li>
        <img src="../../assets/images/bg-image_4.jpeg" alt="bg-image-4">
        <div class="other-stories-title">
          <span class="video-title">Cruella Woman</span>
          <button class="video-type">COMEDY</button>
          <button class="video-type">CRIME</button>
        </div>
      </li>
      <li>
        <img src="../../assets/images/bg-image_5.png" alt="bg-image_5">
        <div class="other-stories-title">
          <span class="video-title">Those Who Wish Me Dead</span>
          <button class="video-type">ACTION</button>
          <button class="video-type">DRAMA</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="overview-footer">
    <ul class="product-information">
      <li class="product-title">Product</li>
      <ul class="product-details">
        <li><a href="/overview">Product Information</a></li>
        <li><a href="/overview">Product Service</a></li>
      </ul>
    </ul>
    <ul class="enterprise-information">
      <li class="enterprise-title">Enterprise Introduction</li>
      <ul class="enterprise-details">
        <li><a href="/overview">About Us</a></li>
        <li><a href="/overview">Community</a></li>
      </ul>
    </ul>
    <ul class="company-information">
      <li class="company-title">Enterprise Pty Ltd</li>
      <ul class="company-details">
        <li>Address: xxxxxxxxxxxxx</li>
        <li>Tel: xxxxxxxxxx</li>
        <li>Email: xxxxxxxxxxx</li>
      </ul>
    </ul>
    <ul class="footer-icon">
      <li><i class="fab fa-facebook"></i></li>
      <li><i class="fab fa-twitter-square"></i></li>
      <li><i class="fab fa-instagram-square"></i></li>
    </ul>
    <div class="copyright">Copyright 2021 EntEver. All rights</div>
  </div>
</div>
